.left{
    width: 30%;
    background-color:rgba(22, 54, 124, 0.356);
    height: 670px;
    position: absolute;
}

#msg{
    border-radius: 5px;
    width: 70%
}

#Search #cName{
    width: 200px;
}
.right{
    width: 70%;
    float: right;
    background-color:rgba(245, 245, 245, 0.39);
    height: 670px;
    /* position: absolute; */

}

ul{
    list-style-type: none;
}
.joinButton{
    width:20px;
    margin-left: 30px;
}
.main{
    position: relative;
}
 .bottom{
    margin-top: 620px;
    margin-left:50px;
 }

 button{
     width: 120px;
     border-radius: 5px;
 }
 .channelList{
     height:200px;
 }